p,li  {

	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	background-color: lightblue;
	font-size:25px;
	letter-spacing: 1px;
	line-height: 2;
	

}
#img1  {

	/*margin: 0 auto;*/
	/*text-align: center;*/
	background-color: lightgreen;
   
    text-align: center;
   
    margin: 0 auto;

}


	

h1  {
		font-family: 'Dancing Script', cursive;
		text-align: center;
		background-color: lightgrey;
		letter-spacing: 1px;
		line-height: 2;

	/*color: pink;*/
}